:root {
    --green : #04ddb2;
    --black : #333;
    --white : #fff;
    --grey : #767676;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

.video {
    width: 560px;
    height: 340px;
}