
@font-face {
    font-family: 'LabGrotesque Regular';
    src: url('./assets/fonts/LabGrotesque-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'LabGrotesque Medium';
    src: url('./assets/fonts/LabGrotesque-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'LabGrotesque Black';
    src: url('./assets/fonts/LabGrotesque-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'LabGrotesque Bold';
    src: url('./assets/fonts/LabGrotesque-Bold.woff2') format('woff2');
}

:root {
    --green : #04ddb2;
    --black : #333;
    --white : #fff;
    --grey : #767676;
}

body {
    margin: 0;
    padding: 0;
    background: var(--white);
    font-family: 'LabGrotesque Regular', sans-serif;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 75px;
}

header > nav > ul {
    display: flex;
    gap: 3rem;
    font-size: 1.15em;
    color: var(--grey);
}

.button {
    background: var(--green);
    color: var(--white);
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 1.15em;
    font-weight: 600;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    text-align: center;
}

h1 {
    font-family: 'LabGrotesque Bold', sans-serif;
    font-size: 4rem;
    margin: 0;
}

.hero > p {
    font-size: 1.5rem;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.hero > img.video {
    margin-top: 80px;
    border-radius: 24px;
    width: 960px;
    height: 540px;
}

.green {
    color: var(--green);
}




.cta {
    margin: 100px 0;
}

.cta > h1 {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.cta > a.button {
    padding: 12px 35px;
    font-size: 1.25rem;
}




hr {
    width: 70%;
}

footer {
    display: flex;
    max-width: 70%;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 50px;
}

footer > div > h4 {
    margin-top: 0;
    margin-bottom: 25px;
}

footer > div > ul > li {
    margin-bottom: 20px;
}




.social-media {
    display: flex;
    gap: 15px;
}

.social-media > a.rounded {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media > a.rounded > .icon {
    color: var(--white);
}